%h1 About
%p Hampton Catlin is the original inventor of Sass. Michael Lintorn Catlin is his husband and a front-end developer. 
%p We wanted a simple no-frills site where it was easy to compile Sass.
%h3 More Information
%p Want to learn more about Sass? Check out some of these:
%ul.learn_more
  %li 
    = link_to "Sass Site Tutorial", "http://sass-lang.com/tutorial.html"
  %li 
    = link_to "The Pragmatic Guide to Sass", "http://pragprog.com/book/pg_sass/pragmatic-guide-to-sass"
  %li
    = link_to "Code School Sass course", "http://www.codeschool.com/courses/assembling-sass"
= link_to "« Back", "/", :class => "back_btn"