%h1 About
%p Hampton Catlin is the original inventor of Sass. Michael Lintorn Catlin is his husband and front-end developer. 
%p They wanted a simple no-frills site where it was easy to compile Sass.
%h3 More Information
%p Want to learn more about Sass? You've got a number of options.