%ul.large-block-grid-2.small-block-grid-1
  %li.input
    .label 
      Sass
    .area
      %textarea.scss
        \// Type Sass here
      %input#format_scss(type="radio" name="syntax" value="scss" checked="checked")
      %label.label(for="format_scss") SCSS
      %input#format_sass(type="radio" name="syntax" value="sass")
      %label.label(for="format_sass") Sass
  %li.output
    .label
      CSS
    .area
      %textarea.css
        \// CSS will output here