%h1 Sass Compiler

%ul.large-block-grid-2.small-block-grid-1
  %li.input
  %li.output

%footer
  .links
    = link_to "About", "/about"
    = link_to "Sass Site", "http://sass-lang.org"
  .copyright
    © 
    = link_to "Hampton Catlin", "http://twitter.com/hcatin" 
    & 
    = link_to "Michael Lintorn Catlin", "http://twitter.com/malrase" 
    2013
