%ul.large-block-grid-2.small-block-grid-1
  %li.input
    %h3 Sass
    .area
      %textarea.scss
        \// Type Sass here
  %li.output
    %h3 CSS
    .area
      %textarea.css
        \// CSS will output here