

  .intro
    Put your Sass on the left and see the CSS output on the right. Simple.

  %ul.large-block-grid-2.small-block-grid-1
    %li.input
      %h3 Sass
      %textarea
    %li.output
      %h3 CSS
      %textarea