// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: "Roboto";
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Roboto";
  font-weight: 700;
}

footer {
  background: blue;
}