// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: "Roboto";
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Roboto";
  font-weight: 700;
}
.top-bar {
  margin-bottom: 0;
}
.content {
  padding: 0 20px;
}

footer {
  background: #777;
  color: #FFF;
  padding: 20px;
  text-align: center;
  a {
    color: #FFF;
    &:hover {
      color: #FFF;
      opacity: 0.7;
    }
  }
  .links {
    margin-bottom: 10px;
  }
  .separator {
    display: inline-block;
    margin: 0 5px;
  }
}