// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: "Roboto";
  border-top: 5px solid #DC4E00;
  background: #F4F5ED;
}
.CodeMirror {
  background: #333 !important;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Roboto";
  font-weight: 700;
}
h1 {
  font-size: 1.5em;
}
h2 {
  font-size: 1.3em;
}
h3 {
  font-size: 1.1em;
}
.content {
  padding: 0 20px;
}
ul.learn_more {
  margin-left: 40px;
  list-style: none;
}
.back_btn {
  display: inline-block;
  margin: 10px 0 20px;
}
footer {
  background: lighten(#929487, 20%);
  color: #fff;
  padding: 20px;
  text-align: center;
  a {
    color: #FFF;
    &:hover {
      color: #FFF;
      opacity: 0.7;
    }
  }
  .links {
    margin-bottom: 10px;
  }
  .separator {
    display: inline-block;
    margin: 0 5px;
  }
}